<template>
<div>
  <div class="odd__container">
    <mark v-if="config.mode == 'test'" class="odd__test-mode">Test mode active!</mark>
    <div class="odd__standfirst" v-html="processedStandfirst" />
    <div class="odd__mobile-top-forms">
      <forms
        v-if="mobileTopForm !== '__'"
        :config='config'
        :isMobile="isMobile"
        :formsToShow='mobileTopForm'
        />
    </div>

    <div class="odd__body-text" v-html="body" />
    <div class="odd__main-forms">
      <forms
        :config='config'
        :isMobile="isMobile"
        :formsToShow='mainFormsToShow'
        />
    </div>
  </div>
  <div class="odd__extra-wrapper">
    <button class="show-more" href v-if="extra && !showExtra" @click.prevent="showExtra = true">Other ways to give</button>
    <div class="odd__extra-text" v-html="extra" v-show="showExtra"/>
  </div>
</div>
</template>
<script>
import Forms from './Forms.vue';
import Signup from './Signup.vue';
var debounce = require('lodash/debounce');
export default {
  components: {Forms, Signup},
  props: [ 'config' ],
  data() {
    return {
      showExtra: false,
      standfirst: null,
      body: null,
      extra : null,
      isMobile: false,
    };
  },
  created() {
    const vm = this;
    ['body', 'standfirst', 'extra']
      .forEach(field => { vm[field] = vm.config[field]; });

    // We need to detect mobile.
    window.addEventListener('resize', debounce(e => { vm.detectMobile(); }, 100));
    this.detectMobile();
  },
  computed: {
    mainFormsToShow() {
      if (this.isMobile) {
        // On mobile, we'll have hoiked the first form out and displayed it already.
        // If we have body text, we put both forms at the bottom, which is possibly repeating a form.
        // But if we don't have body text, the repetition would be weird, so we only show the second form.
        if (this.body != '') {
          // There is body, show both forms.
          return this.config.regular_or_one;
        }
        // No body, show only the 2nd form.
        return '_' . this.config.regular_or_one[1];
      }
      // if not mobile, show both forms.
      return this.config.regular_or_one;
    },
    mobileTopForm() {
      return this.isMobile
        ? this.config.regular_or_one[0] + '_'
        : '__';
    },
    processedStandfirst() {
      // This takes the current giving statement string, converts it to HTML,
      // and swaps out '{contact.currentRegularGiving}' in the standfirst for this HTML.
      var dummy = document.createElement('div');
      dummy.textContent = this.config.giving;
      return this.standfirst.replace('{contact.currentRegularGiving}', dummy.innerHTML );
    }
  },
  methods: {
    detectMobile() {
      this.isMobile = this.$root.isMobile();
    },
  },
};
</script>
