
$light_blue: #F1F6FB;
$light_blue_darkened: darken(#F1F6FB, 10%);
$dark_blue: #0061bf;
$dark_blue_lightened: #408BC5; // From new site.
$grey_4: #444;
$grey_6: #888;
$accent: #b75601;
@mixin buttons-secondary {
  display: block;
  background-color:white;
  border:solid 1px $dark_blue;
  border-radius:2px;
  color:$grey_4;
  color:$dark_blue;

  text-transform: uppercase;
  font-weight: 600;
  padding: 0.6rem 1.66667rem;
  letter-spacing: 2px;

  &:hover {
    color: $dark_blue;
  }
  &:disabled {
    border-color: $grey_6;
    color: $grey_6;
    background: transparent;
    &:hover {
      color: $grey_6;
    }
  }
}
@mixin buttons {
  display: block;
  background-color:$dark_blue;
  border-style:none;
  border-radius:0;
  color:white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.2rem 2.66667rem;
  letter-spacing: 2px;

  &:hover {
    background-color:$dark_blue_lightened;
    color:white;
  }
  &.selected {
    background-color: white;
    color: $dark_blue;
  }
}
@keyframes obvious {
  0% { border-color: #fdd;}
  50% { border-color: #e00;}
  100% { border-color: #fdd;}
}
body.od-test-mode {
  border: solid 1rem #e00;
  animation: obvious 1s infinite;
}
mark.odd__test-mode {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 50%;
	background-color: #ff3533;
	color: black;
	padding: 0.5rem 2rem;
	transform: rotateZ(-90deg) translateX(-50%);
	transform-origin: top left;
  &:hover { opacity: 0.1; }
}
.odd-node-wrapper {
  min-height: calc(100vh - 8rem); // Cover except header.
}

// Layout.
.odd__container {
  display: grid;
  * { box-sizing: border-box; }
}
// Mobile first - single column this order:
.odd__standfirst       { grid-row: 1; grid-column: 1;}
.odd__mobile-top-forms { grid-row: 2; grid-column: 1;}
.odd__body-text        { grid-row: 3; grid-column: 1;}
.odd__main-forms       { grid-row: 4; grid-column: 1;}

// Larger screens
@media screen and (min-width: 768px) {
  .odd__container {
    grid-column-gap: 2rem;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: min-content 1fr auto;
  }
  .odd__mobile-top-forms { display:none; /* should be hidden anyway */ }
  .odd__standfirst { grid-row: 1;     grid-column: 1;}
  .odd__body-text  { grid-row: 2;     grid-column: 1;}
  .odd__main-forms { grid-row: 1 / 3; grid-column: 2;}
}

.odd__forms {
  label { font-family: 'Libre Baskerville'; }
}

.odd__standfirst,
.odd__body-text {
  font-size: 1.3rem;
  color: #333;
  img {
    display:block;
    margin:1rem 0;
    max-width:100%;
    height:auto;
  }
}
.odd__form {
  background-color: $light_blue;
  padding: 1rem;
  margin-bottom:1rem;
  h2 {
    margin: 0 0 1rem;
  }
}

.odd__totaliser {
}
.odd__totaliser-bar-target {
  background:white;
  height:1.5rem;
  position:relative;
}
.odd__totaliser-bar-total {
  text-align:right;
  padding-right:0.5rem;
  color:white;
  background: $accent;
  height:1.5rem;
  position: absolute;
  animation: totaliserBounce 0.9s 1s;
  animation-fill-mode: backwards;
  transform-origin: left top;
  &>span {
    animation: totaliserText 0.3s 1.8s;
    animation-fill-mode: backwards;
  }
}
.odd__totaliser-text {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #9B9B9B;
}
@keyframes totaliserText {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes totaliserBounce {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% { transform: scaleX(0); }
  20% { transform: scaleX(1.1); }
  40% { transform: scaleX(0.9); }
  60% { transform: scaleX(1.03); }
  80% { transform: scaleX(0.97); }
  to { transform: scaleX(1); }
}
@media screen and (min-width: 400px) {
  .odd__page {
    padding-right:4rem;
  }
}
.odd__buttons {
  display: flex;
  margin:0.5rem -0.5rem;
}
.odd__button-wrapper {
  flex: 1 1 auto;
  padding:0 0.5rem;

  button {
    width:100%;
    @include buttons;
    padding: 0.5rem;
    font-size:1.6rem;
  }
}
@media screen and (min-width: 800px) {
.odd__button-wrapper {
    button {
       padding: 0.9rem 1.6rem;
    }
  }
}

.odd__buttons__a-month {
  // Reduce padding, otherwise "a month" doesn't fit.
  font-size: 12px;
}
@mixin textinputs {
    background:white;
    border: solid 1px $light_blue_darkened;
    border-radius:none;
    padding:0.25rem 0.5rem;
    width: 100%;
}
.odd__amount-other {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  label { flex:0 0 auto; padding-right:1rem;}
  .odd__amount-other-input {
    flex:1 1 auto;
  }
  input {
    @include textinputs;
    width:100%;
  }
}
.odd__textfield {
  margin-top:1rem;
  input {
    @include textinputs;
  }
}
.odd__selectfield {
  margin-top:0.25rem;
  select {
    width: 100%;
  }
}
.odd__input-pair {
  display:flex;
  margin: 0 -0.25rem;
  &>div {
    flex: 0 0 50%;
    padding: 0 0.25rem;
  }
}
.odd__donate-button {
  display:flex;
  justify-content: flex-end;
  align-items: center;

  p.odd__opentrust {
    flex: 1 1 auto;
    margin:0;
    padding-right:1.5rem;
    padding-top:1rem;
    padding-bottom:1rem;
  }

  button {
    flex:0 0 auto;
    margin: 0.5rem 0 0 auto;
    @include buttons;
  }
}
.odd__back-button {
//  @include buttons-secondary;
}
.odd__next {
  display:flex;
  align-items: center;
}
.odd__tooltip {
  flex: 1 1 auto;
  padding-right:0.5rem;
  text-align:right;
}
// transition for tooltip.
.bounce-enter-active {
  animation: bounce-tooltip .5s ease;
}
@keyframes bounce-tooltip {
  0%   { opacity: 0; transform: translateX(-8px); }
  100% { opacity: 1; transform: none; }
}
.bounce-leave-active {
  transition: all .5s ease;
}
.bounce-leave { opacity: 1; }
.bounce-leave-to { opacity: 0; }

.odd__next-button-wrapper {
  flex: 0 0 auto;
}
.odd__next-button {
  @include buttons-secondary;
  display: inline-block;
}
.odd__checkbox {
  display:flex;
  input { flex: 0 0 auto; }
  label { flex: 1 1 auto; }
}
.odd__giftaid p {
  font-size: (12rem/16);
}
.odd-node-wrapper .invalid {
  label { color: #a00; }
  input { border-color: #a00; }
  .invalid-msg {color: #a00; font-size: (12rem/16); }
}
.odd__extra-wrapper {
  margin-top: 2rem;
  padding-bottom:2rem;
  button.show-more {
    @include buttons-secondary;
    border-color: #747474;
    color: #747474;
    &:hover {
      color: $dark_blue;
      border-color: $dark_blue;
    }
  }
}
.odd__opentrust {
  font-size: (12rem/16);
}
.odd-social-wrapper {
}
.odd-social-company {
  display: inline-block;
  width: 3rem;
  margin-right:1rem;
  &>a {
    border-radius:50%;
    display:inline-block;
    width: 3rem;
    height: 3rem;
    border:solid 1px $dark_blue;
    background-color:white;

    // For svg.
    fill: $dark_blue;

    &>svg {
      margin-top: 14px;
      margin-left: 14px;
    }

    &:hover {
      border:solid 1px $dark_blue_lightened;
      fill: $dark_blue_lightened;
    }
  }
}
.odd__fsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &>a { flex:0 0 auto; color:#555; font-size:0.8rem; text-transform:uppercase; cursor: pointer; }
  &>div { flex:1 1 auto; padding-right:1rem; text-align:left; }
}
@keyframes od-spinner {
  0% { transform: none; }
  100% { transform: rotateZ(360deg); }
}
.od-spinner {
  display:inline-block;
  animation: od-spinner 0.4s infinite linear;
  fill: red;
  width: 1rem;
  height: 1rem;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiIGZpbGw9IiMwMDYxYmYiLz4KPGNpcmNsZSBjeD0iMjYiIGN5PSIxNiIgcj0iNCIgZmlsbD0iI2ZmZiIgLz4KPC9zdmc+Cgo=);
  background-size: 100%;
  margin: 0 1rem;
}
.odd-signup-page-inner {
  margin: 0 auto;
  max-width: 45rem;
}


.odd__fund_deadline {
  display: flex;
  align-items: center;
}
.odd__deadline_period {
  padding: 0 0.5rem;
  color: $dark_blue;;
  flex: 0 0 auto;
  font-size: 2rem;
  font-weight: bold;
}
.odd__deadline_text {
  padding-left: 1rem;
  flex: 1 0 8rem;
}

